@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$color_main: #008286;
$color_secondary: #ff8946;
$color_grey: #CFC7CA;
$color_dark_grey: #444444;
$color_grey_news_info: #001d1f;
$color_white: #ffffff;
$color_black: #000000;
$color_light_grey: #efeded;
$color_blue: #99c0e9;
